<p class="message">
	<strong class="message.user">
	<%=message.user.username%>:
</strong>
	 <div class="message-content"><%=message.content%>
	 	<div class="time"><%=message.created_at%></div>
	 </div>
</p>
