<p class="message">
	<strong class="message.user">
		<%=message.user.username%>:
	</strong>


	<div class="message-content">
		<%=message.content%>
		
			

			<div class="message-time"><%=message.created_at.strftime("%H:%M")%></div><br>
			<div class="message-date"><%=message.created_at.strftime("%d %b %Y ")%></div>

	</div>
	<br>
</p>
