<h1><%= @chatroom.topic %></h1>
<!-- All sent messages -->
<% if @chatroom.messages.any? %>
<%= render partial: 'messages/message', collection: @chatroom.messages%>

<% else %>
<% end %>
<!-- message form -->
<%= render partial: 'messages/message_form', locals: {chatroom: @chatroom}%>